[defaults]
gathering = explicit
inventory = ./inventory
editor = nano
vault_password_file = ./.vault_password.txt
become_password_file = ./.become_password.txt
interpreter_python = /usr/bin/python3

[privilege_escalation]
become_method = su
ansible_become_user = root
